{% load static %}

<div class="container-fluid mt-5" id="gallery">
    <section>
        <div class="row mt-5 mb-4">
            <div class="col-md-12">
                <div class="divider-new">
                    <h3 class="text-center text-uppercase font-weight-bold mr-3 ml-3 wow fadeIn"
                        data-wow-delay="0.2s">Modelos</h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row wow fadeIn" data-wow-delay="0.4s">
                <div class="col-md-12">
                    {% for client in clients %}
                        {% if forloop.counter0|divisibleby:client_per_row or forloop.first %}
                            <div class="row no-gutters">
                        {% endif %}

                    <div class="col-lg-3 col-md-12 mb-3 wow fadeIn" data-wow-delay="0.4s">

                        <div class="card card-cascade wider">
                            <div class="view view-cascade overlay zoom" style="margin: 0 8px">
                                <img src="{{ client.image_profile.url }}" class="img-fluid" alt="client photo">
                                <a href="{% url 'detail' slug=client.slug %}">
                                    <div class="mask rgba-white-slight"></div>
                                    <div class="mask flex-center waves-effect waves-light">
                                        <h4 class="text-uppercase text-light"
                                            style="text-shadow: black 0.04em 0.04em 0.1em; text-align: center;">
                                            <strong>{{ client.fake_name }}</strong><br><br>
                                            <span>R<i
                                                    class="fas fa-dollar-sign"></i> {{ client.service_charged }}</span>
                                        </h4>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                    {% if forloop.counter|divisibleby:client_per_row %}
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

</div>
<!--/Gallery-->
