html,
body,
header,
.jarallax {
    width: 100%;
}

.top-nav-collapse {
    color: #0b0b0b !important;
    background-color: #0b0b0b !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

.nav-logo {
    width: 110px;
}

#contact, #terms, #gallery {
    margin-top: 100px;
    margin-bottom: 100px;
}

a {
    color: hotpink;
}

a:hover {
    color: deeppink;
}

h1 {
    letter-spacing: 8px;
}

h5 {
    letter-spacing: 3px;
}

.hr-light {
    border-top: 3px solid #fff;
    width: 80px;
}

footer.page-footer {
    background-color: #0b0b0b;
}

@media (min-width: 560px) and (max-width: 650px) {
    header .jarallax h5 {
        margin-bottom: 1.5rem !important;
    }
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #0b0b0b !important;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #0b0b0b !important;
    }
}

@media (max-width: 450px) {
    .btn-floating {
        margin-left: 0;
        margin-right: 0;
    }
}
