{% load static %}

<!--Footer-->
<footer class="page-footer pt-4 mt-4 text-center text-md-left">

    <!--Footer Links-->
    <div class="container">
        <div class="row">
            <!--First column-->
            <div class="col-md-6">
                <a href="#"><img class="nav-logo" src="{% static 'assets/img/navi-logo.png' %}"
                                                 alt="logo GPCapital"></a>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s.</p>
            </div>
            <!--/.First column-->
            <hr class="w-100 clearfix d-md-none">
            <!--Second column-->
            <div class="col-md-3 ml-auto text-center">
                <h5 class="text-uppercase font-weight-bold">Site Map</h5>
                <ul class="list-unstyled text-center">
                    <li><a href="#gallery">Galeria</a></li>
                    <li><a href="#terms">Termos</a></li>
                    <li><a href="#advertise">Anuncie</a></li>
                    <li><a href="#contact">Contato</a></li>
                </ul>
            </div>
            <!--/.Second column-->
            <hr class="w-100 clearfix d-md-none">
            <!--Third column-->
            <div class="col-md-3 ml-auto text-center">
                <h5 class="text-uppercase font-weight-bold">Links Úteis</h5>
                <ul class="list-unstyled text-center">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                </ul>
            </div>
            <!--/.Third column-->
            <hr class="w-100 clearfix d-md-none">
        </div>
    </div>
    <!--/.Footer Links-->
    <hr>
    <!--Social buttons-->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="mb-3 row flex-center">
                    <a href="https://api.whatsapp.com/send?phone=55055999937833"><i
                            class="col fab fa-whatsapp fa-3x mb-3 sr-contact pink-text"
                            data-aos="zoom-in"
                            data-aos-duration="300" data-aos-once="true">
                    </i></a>
                    <a href="tel:055999937833"><i class="col fa fa-phone fa-3x mb-3 sr-contact pink-text"
                                                  data-aos="zoom-in"
                                                  data-aos-duration="300" data-aos-once="true">
                    </i></a>
                    <a href="mailto:contato@gpcapital.com,br"><i class="col fa fa-envelope fa-3x mb-3 sr-contact pink-text"
                                                              data-aos="zoom-in"
                                                              data-aos-duration="300" data-aos-delay="300"
                                                              data-aos-once="true">
                    </i></a>
                </div>
            </div>
        </div>
    </div>
    <!--/.Social buttons-->
    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        <div class="container-fluid">
            © 2019 Copyright: <a href="https://www.gpcapital.com.br"> GPCapital.com.br </a>
        </div>
    </div>
    <!--/.Copyright-->
</footer>
<!--/.Footer-->
