{% load static %}

<!--  SCRIPTS  -->
<!-- JQuery -->
<script type="text/javascript" src="{% static 'mdb/js/jquery-3.4.1.min.js' %}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static 'mdb/js/popper.min.js' %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'mdb/js/bootstrap.min.js' %}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'mdb/js/mdb.min.js' %}"></script>
<script>
    new WOW().init();
    // Material Select Initialization
    $(document).ready(function () {
        $('.mdb-select').materialSelect();
    });
    // MDB Lightbox Init
    $(function () {
        $("#mdb-lightbox-ui").load("{% static 'mdb/mdb-addons/mdb-lightbox-ui.html' %}");
    });
    // Video within modals
    $('#modal1').on('hidden.bs.modal', function (e) {
        // do something...
        $('#modal1 iframe').attr("src", $("#modal1 iframe").attr("src"));
    });

    $('#modal6').on('hidden.bs.modal', function (e) {
        // do something...
        $('#modal6 iframe').attr("src", $("#modal6 iframe").attr("src"));
    });

    $('#modal4').on('hidden.bs.modal', function (e) {
        // do something...
        $('#modal4 iframe').attr("src", $("#modal4 iframe").attr("src"));
    });
</script>
