option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: GPCapital.settings.development
    PYTHONPATH: "/opt/python/current/app:$PYTHONPATH"
    RDS_HOSTNAME: gpcapital-dev.chuqnzvkt4cp.sa-east-1.rds.amazonaws.com
    RDS_PORT: 5432
    RDS_DB_NAME: gpcapital
    RDS_USERNAME: postgres
    RDS_PASSWORD: trismegistos
    AWS_ACCESS_KEY_ID: "AKIA4F63UN2PRIZVWUEV"
    AWS_SECRET_ACCESS_KEY: "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"
    AWS_STORAGE_BUCKET_NAME: "gpcapital-dev"
  aws:elasticbeanstalk:container:python:
    WSGIPath: DjangoAWS/wsgi.py

container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_collectstatic:
    command: "django-admin.py collectstatic --noinput --clear"
  03_create_super_user:
    command: "python manage.py cm_create_super_user"
    leader_only: true
  04_populate_initial_data:
    command: "python manage.py cm_populate_initial"
    leader_only: true

packages:
  yum:
     git: []
     postgresql94-devel: []
