{% load static %}

<section class="container-fluid mt-5" id="terms">
    <div class="row mt-5 mb-4">
        <div class="col-md-12">
            <div class="divider-new">
                <h3 class="text-center text-uppercase font-weight-bold mr-3 ml-3 wow fadeIn"
                    data-wow-delay="0.2s">Termos de Privacidade</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 text-center">
                <div class="mx-auto service-box mt-5"><i
                        class="fa fa-eye-slash fa-4x pink-text mb-3 sr-icons wow fadeIn" data-wow-delay="0.2s"></i>
                    <h3 class="mb-3" style="font-family: Montserrat, sans-serif;">Conteúdo Adulto</h3>
                    <p class="text-muted mb-0"><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the
                        printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                        ever since the 1500s.<br></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center">
                <div class="mx-auto service-box mt-5"><i class="fa fa-eye fa-4x pink-text mb-3 sr-icons wow fadeIn"
                                                         data-wow-delay="0.3s"></i>
                    <h3 class="mb-3" style="font-family: Montserrat, sans-serif;">18 Anos ou Mais</h3>
                    <p class="text-muted mb-0"><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the
                        printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                        ever since the 1500s.<br></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center">
                <div class="mx-auto service-box mt-5"><i class="fas fa-times fa-4x pink-text mb-3 sr-icons wow fadeIn"
                                                         data-wow-delay="0.4s"></i>
                    <h3 class="mb-3" style="font-family: Montserrat, sans-serif;">Não</h3>
                    <p class="text-muted mb-0"><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the
                        printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                        ever since the 1500s.<br></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center">
                <div class="mx-auto service-box mt-5"><i class="fa fa-check fa-4x pink-text mb-3 sr-icons wow fadeIn"
                                                         data-wow-delay="0.5s"></i>
                    <h3 class="mb-3" style="font-family: Montserrat, sans-serif;">Sim</h3>
                    <p class="text-muted mb-0"><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the
                        printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                        ever since the 1500s.<br></p>
                </div>
            </div>
        </div>
    </div>
</section>
