{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GP Capital | {% block title %}{% endblock %}</title>
    {% include 'mdb/base/components/css.html' %}
</head>
<body>
{% include 'mdb/base/components/navbar.html' %}
{% block content %}
{% endblock %}
{% include 'mdb/base/components/footer.html' %}
{% include 'mdb/base/components/scripts.html' %}
</body>
</html>
