{% load static %}
<style>
    .pad {
        padding: 10px 0 5px 0;
        margin-bottom: -5px;
    }
</style>
<div class="container-fluid mt-5" id="gallery">
    <section>
        <div class="row mt-5 mb-4">
            <div class="col-md-12">
                <div class="divider-new">
                    <h3 class="text-center text-uppercase font-weight-bold mr-3 ml-3 wow fadeIn"
                        data-wow-delay="0.2s">Modelos</h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row wow fadeIn" data-wow-delay="0.4s">
                <div class="col-md-12">
                    {% for client in clients %}
                        {% if forloop.counter0|divisibleby:client_per_row or forloop.first %}
                            <div class="row no-gutters">
                        {% endif %}

                    <div class="col-lg-2 col-md-12 mb-3 wow fadeIn" data-wow-delay="0.4s">

                        <div class="card card-cascade wider">
                            <div class="flex-center view view-cascade" style="margin: 0 8px">
                                <a href="{{ client.get_absolute_url }}">
                                    <h6 class="text-black-50 text-center pad">
                                        <strong>{{ client.fake_name }}</strong>
                                    </h6>
                                    <img src="{{ client.image_profile.url }}" class="img-fluid" alt="client photo">
                                    <div class="row text-center text-black-50">
                                        <div class="col pad">
                                            <p><i class="fas fa-fingerprint"></i><br>{{ client.age }}</p>
                                        </div>
                                        <div class="col pad">
                                            <p><i class="fas fa-coins"></i><br>{{ client.service_charged }}</p>
                                        </div>
                                        <div class="col pad">
                                            <p><i class="fas fa-fingerprint"></i><br>{{ client.age }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                    {% if forloop.counter|divisibleby:client_per_row %}
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

</div>
<!--/Gallery-->
