{% load static %}
<style>
    html,
    body,
    header,
    .jarallax {
        height: 700px;
    }

    @media (max-width: 740px) {
        html,
        body,
        header,
        .jarallax {
            height: 100vh;
        }
    }

    @media (min-width: 800px) and (max-width: 850px) {
        html,
        body,
        header,
        .jarallax {
            height: 100vh;
        }
    }

    @media (min-width: 560px) and (max-width: 660px) {
        header .jarallax h5 {
            display: none !important;
        }
    }
</style>
<!-- Intro Section -->
<div class="view jarallax" data-jarallax='{"speed": 0.2}'
     style="background-image: url({{ object.image_profile.url }}); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="mask rgba-black-light">
        <div class="container h-100 d-flex justify-content-center align-items-center">
            <div class="row pt-5 mt-3">
                <div class="col-md-12">
                    <div class="text-center text-light text-uppercase">
                        <h1 class="wow fadeInDown" data-wow-delay="0.4s">
                            <strong>{{ object.fake_name }}</strong>
                        </h1>
                        <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
                        <h5 class="mb-5 wow fadeInDown" data-wow-delay="0.4s">
                            <strong>{{ object.description }}</strong></h5>
                        <div class="col-lg-12 mx-auto">
                            <a class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s" href="#model-details">
                                Mais detalhes!!!
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
