{% load static %}

<style>

    .page-intro {
        background-image: url("{% static 'assets/img/bg.jpeg' %}");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 70vh;
    }

    .box {
        background-color: rgba(255, 255, 255, 0.5);
        padding: 2rem 1.75rem;
        border-radius: 0.5rem;
    }

    @media (max-width: 740px) {

    }

    @media (min-width: 800px) and (max-width: 850px) {

    }

    @media (min-width: 560px) and (max-width: 660px) {

    }
</style>

<!-- Intro Section -->
<section class="page-intro">
    <div class="container flex-center">
        <div class="col-sm-9 col-md-9 box">
            <h2 class="text-center h2-responsive text-dark"><strong>O que você procura?</strong></h2>
            <div class="col-md-12">
                <hr class="hr-dark mt-4 wow fadeInDown" data-wow-delay="0.4s">
                <br>

                <form type="" action="#" method="get">
                    <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
                    <div class="row flex-center">
                        <div class="col-md-6">

                            {{ search_form.category }}
                        </div>
                        <div class="col-md-6">

                            {{ search_form.ethnicity }}
                        </div>
                    </div>
                    <div class="flex-center">
                        <button type="submit" class="btn btn-elegant wow fadeInDown justify-content-center"
                                data-wow-delay="0.4s">
                            Buscar
                        </button>
                    </div>
                </form>
                <br>
                <br>
                <a href="#gallery" class="smooth-scroll">
                    <h2 class="text-dark animated bounce infinite js-scroll-trigger flex-center">
                        <i class="fas fa-angle-down"></i>
                    </h2>
                </a>

            </div>
        </div>
    </div>
</section>
