{% load static %}

<div class="streak streak-photo" id="advertise"
     style="background-image:url('{% static 'assets/img/bg.jpeg' %}')">

    <div class="flex-center white-text pattern-1" style="background-attachment: fixed">
        <ul class="list-unstyled">
            <li>
                <h2 class="mb-4 wow fadeInDown text-uppercase font-weight-bold" data-wow-delay="0.4s">Anuncie
                    Conosco</h2>
                <a class="btn btn-light wow fadeInDown" data-wow-delay="0.4s" href="#">
                    Veja nossas vantagens
                </a>
            </li>
        </ul>
    </div>
</div>
