{% extends 'mdb/base/base.html' %}
{% load static %}
{% block title %}
    {{ block.super }} As Melhores Garotas de Programa
{% endblock %}
{% block content %}
    {% include 'mdb/base/components/navbar.html' %}
    {% include 'mdb/pages/components/intro.html' %}
{#    {% include 'mdb/pages/components/featured.html' %}#}
    {% include 'mdb/pages/components/gallery.html' %}
    {% include 'mdb/pages/components/terms.html' %}
    {% include 'mdb/pages/components/streak.html' %}
    {% include 'mdb/pages/components/contact.html' %}
{% endblock %}

