{% extends 'mdb/base/base.html' %}
{% load static %}
{% block title %}
    {{ block.super }} {{ client.fake_name }}
{% endblock %}
{% block content %}
    <style>
        html,
        body,
        header,
        .jarallax {
            height: 70vh;
        }

        @media (max-width: 740px) {
            html,
            body,
            header,
            .jarallax {
                height: 70vh;
            }

            .avatar img {
                min-width: 250px;
                max-height: 250px;
                object-fit: cover;
                object-position: center;
            }
        }

        @media (min-width: 800px) and (max-width: 850px) {
            html,
            body,
            header,
            .jarallax {
                height: 70vh;
            }

            .avatar img {
                min-width: 200px;
                max-height: 200px;
                object-fit: cover;
                object-position: center;
            }
        }

        @media (min-width: 560px) and (max-width: 660px) {
            header .jarallax h5 {
                display: none !important;
            }

            .avatar img {
                min-width: 150px;
                max-height: 150px;
                object-fit: cover;
                object-position: center;
            }
        }

        .avatar img {
            min-width: 250px;
            max-height: 250px;
            object-fit: cover;
            object-position: center;
        }
    </style>
    <body>
    <!--Main Navigation-->
    <header>
        {% include 'mdb/base/components/navbar.html' %}
        <!-- Intro Section -->
        <div class="view jarallax" data-jarallax='{"speed": 0.2}'
             style="background-image: url({{ object.image_profile.url }});
                     background-repeat: no-repeat;
                     background-size: cover;
                     background-position: center center;">
            <div class="mask rgba-indigo-slight">
                <div class="container h-100 d-flex justify-content-center align-items-center">
                    <div class="row pt-5 mt-3">
                        <div class="col-md-12 mb-3">
                            <div class="intro-info-content text-center">
                                <h1 class="display-3 mb-5 wow fadeInDown text-light"
                                    style="text-shadow: black 0.04em 0.04em 0.1em; text-align: center;"
                                    data-wow-delay="0.3s">{{ object.fake_name }}
                                </h1>
                                <hr style="text-shadow: black 0.04em 0.04em 0.1em; text-align: center;">
                                <h5 class="text-uppercase text-light mb-5 mt-1 font-weight-bold wow fadeInDown"
                                    style="text-shadow: black 0.04em 0.04em 0.1em; text-align: center;"
                                    data-wow-delay="0.3s">{{ object.description }}</h5>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--Main Navigation-->
    <!--Main Layout-->
    <main class="content">
        <div class="container">
            <!--Section: Team v.1-->
            <section class="text-center team-section">
                <!--Grid row-->
                <div class="row text-center">
                    <!--Grid column-->
                    <div class="col-md-12 mb-4" style="margin-top: -100px;">
                        <div class="avatar mx-auto">
                            <img src="{{ object.image_profile.url }}"
                                 class="img-fluid rounded-circle z-depth-1 "
                                 alt="Avatar image">
                        </div>
                        <h3 class="my-3 font-weight-bold">
                            <strong>{{ object.fake_name }}</strong>
                        </h3>
                        <h6 class="font-weight-bold pink-text mb-4">{{ object.short_description }}</h6>
                        <!--Whatsapp-->
                        <a class="p-2 m-2 fa-lg fb-ic"><i class="fab fa-whatsapp grey-text"></i></a>
                        <!--Phone-->
                        <a class="p-2 m-2 fa-lg tw-ic"><i class="fas fa-phone grey-text"></i></a>
                        <br>
                        <hr>
                        <h3 class="text-center">Serviços Aceitos</h3>
                        <div class="container col-md-6 mt-4">
                            {% for serv in object.services_offered.all %}
                                <span class="badge pink mx-1"> {{ serv }} </span>
                            {% endfor %}
                        </div>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </section>
            <!--Section: Team v.1-->
            <!--Section: Tabs-->
            <section>
                <hr>
                <ul class="nav md-pills pills-pink d-flex justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#panel12" role="tab">
                            <strong>Perfil</strong>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#panel13" role="tab">
                            <strong>Minhas Fotos</strong>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#panel11" role="tab">
                            <strong>Videos</strong>
                        </a>
                    </li>
                </ul>
                <hr>
                <!-- Tab panels -->
                <div class="tab-content">
                    <!--Panel 1-->
                    <div class="tab-pane fade show" id="panel11" role="tabpanel">
                        <br>
                        <!--Grid row-->
                        <div class="row">
                            <!--Grid column-->
                            <div class="col-md-12">
                                <!--Projects section v.4-->
                                <!-- Grid row -->
                                <div class="row">
                                    {% for v in object.clientvideo_set.all %}
                                        <!-- Grid column -->
                                        <div class="col-lg-6 col-md-12 mb-6">

                                            <!--Modal: Name-->
                                            <div class="modal fade" id="modal1" tabindex="-1" role="dialog"
                                                 aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-lg" role="document">

                                                    <!--Content-->
                                                    <div class="modal-content">
                                                        <!--Body-->
                                                        <div class="modal-body mb-0 p-0">
                                                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                                                <video controls="controls"
                                                                       class="embed-responsive-item">
                                                                    <source src="{{ v.video.url }}" type="video/mp4"/>
                                                                </video>
                                                            </div>
                                                        </div>

                                                        <!--Footer-->
                                                        <div class="modal-footer justify-content-center">
                                                            <!--WhatsApp-->
                                                            <a href="https://api.whatsapp.com/send?phone=550{{ client.phone }}{{ client.fake_name }}"
                                                               type="button" class="btn-floating btn-sm btn-fb"><i
                                                                    class="fab fa-whatsapp"></i></a>
                                                            <!--Phone-->
                                                            <a type="button" class="btn-floating btn-sm btn-tw"><i
                                                                    class="fas fa-phone"></i></a>
                                                            <a href="tel:{{ client.fake_name }}"><strong>{{ client.phone }}</strong></a>
                                                            <button type="button"
                                                                    class="btn btn-outline-pink btn-rounded btn-md ml-4"
                                                                    data-dismiss="modal"><i class="fas fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card card-cascade wider">
                                                <div class="view view-cascade overlay zoom" style="display: inline-block;
                                                                                                   position: relative;
                                                                                                   margin: 15px 0">
                                                    <a>
                                                        <video class="img-fluid z-depth-1"
                                                               src="{{ v.video.url }}"
                                                               data-toggle="modal" data-target="#modal1">
                                                        </video>
                                                        <div class="flex-center">
                                                            <i style="position: absolute;
                                                                      top: 45%;
                                                                      right: 45%;
                                                                      font-size: 40px;
                                                                      color: whitesmoke;
                                                                      pointer-events: none;
                                                                      cursor: default;
                                                                      text-shadow: 0 0 5px black;"
                                                               class="fas fa-play"></i>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.Panel 1-->

                    <!--Panel 2-->
                    <div class="tab-pane fade" id="panel12" role="tabpanel">
                        <!-- Section: Team v.3 -->
                        <section id="team" class="section team-section pb-4">
                            <h3 class="text-center">Descrição</h3>
                            <p class="mt-5 text-center">{{ object.description }}</p>
                            <br>
                            <hr>
                            <br>
                            <div class="row mb-lg-4 text-center text-md-left">
                                <div class="col-lg-6 col-md-12 mb-4">
                                    <div class="list-group-flush">
                                        <ul>
                                            <li class="list-group-item text-uppercase">
                                                <i class="fas fa-user fa-2x mr-4 pink p-3 white-text rounded "
                                                   aria-hidden="true"></i>Perfil
                                            </li>
                                            <li class="list-group-item">Nome: {{ object.fake_name }}</li>
                                            <li class="list-group-item">Idade: {{ object.age }}</li>
                                            <li class="list-group-item">Etnia: {{ object.ethnicity }}</li>
                                            <li class="list-group-item">Cachê/hr: {{ object.service_charged }}</li>
                                            <li class="list-group-item">Gênero: {{ object.genre }}</li>
                                            <li class="list-group-item">Peso: {{ object.weight }}</li>
                                            <li class="list-group-item">Olhos: {{ object.eye }}</li>
                                            <li class="list-group-item">Altura: {{ object.height }}</li>
                                            <li class="list-group-item">Busto: {{ object.bust }}</li>
                                            <li class="list-group-item">Cintura: {{ object.waist }}</li>
                                            <li class="list-group-item">Bunda: {{ object.butt }}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 mb-4">
                                    <div class="list-group-flush">
                                        <ul>
                                            <li class="list-group-item text-uppercase">
                                                <i class="fas fa-map-marker-alt fa-2x mr-4 pink p-3 white-text rounded "
                                                   aria-hidden="true"></i>Locais Aceitos
                                            </li>
                                            {% for place in object.places_accepted.all %}
                                                <li class="list-group-item">{{ place }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="list-group-flush">
                                        <ul>
                                            <li class="list-group-item text-uppercase">
                                                <i class="fas fa-transgender fa-2x mr-4 pink p-3 white-text rounded "
                                                   aria-hidden="true"></i>Atendimentos
                                            </li>
                                            {% for service in object.customer_services.all %}
                                                <li class="list-group-item">{{ service }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="list-group-flush">
                                        <ul>
                                            <li class="list-group-item text-uppercase">
                                                <i class="far fa-credit-card fa-2x mr-4 pink p-3 white-text rounded "
                                                   aria-hidden="true"></i>Tipos de Pagamentos
                                            </li>
                                            {% for payment in object.payments_accepted.all %}
                                                <li class="list-group-item">{{ payment }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!--/.Panel 2-->

                    <!--Panel 3-->
                    <div class="tab-pane fade show active" id="panel13" role="tabpanel">
                        <br>
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-12">
                                <div id="mdb-lightbox-ui"></div>
                                <div class="mdb-lightbox">

                                    {% for p in object.clientphoto_set.all %}
                                        <figure class="col-md-4">
                                            <a class="white white-text white-ic white-skin bg-white" href="{{ p.photo.url }}"
                                               data-size="768x1090">
                                                <img src="{{ p.photo.url }}"
                                                     class="img-fluid" alt="{{ p.photo }}">
                                            </a>
                                        </figure>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.Panel 3-->
                </div>
                <hr>
            </section>
            <!--Section: Tabs-->
        </div>
    </main>
    <!--Main Layout-->
{% endblock %}
